<a href="/players">Players Who Played College</a><br>
<a href="/hockeyteams">Hockey Teams</a><br>
<h1>Roster</h1>
<h2 style="color:red"><i>Total Players On Roster: <%= @hockey_team.players.count %></i></h2>
<a href="/hockeyteams/<%= @hockey_team.id %>/players/new"><b>New Player</b></a><br><br>
<%= form_tag "/hockeyteams/#{@hockey_team.id}/players", method: :get do %>
  <i><%= label_tag  "Find Players over the age of:" %></i>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", name: 'Search' %>
<% end %>
<%= form_with url: "/hockeyteams/#{@hockey_team.id}/players",local: :true, method: :get do |form| %>
  <%= form.submit 'Sort By Name', name: :sort%>
<% end %> <hr>
<% @players.each do |player| %>
<h3><%= player.name %></h3><a href="/players/<%= player.id %>/edit">Edit Player</a><br><br>
<form action="/players/<%= player.id %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete"/>
<h6><b>Age:</b> <%= player.age %><br><br>
<b>Attended College?:</b> <%= player.attended_college %><br><br>
<b>Years Played:</b> <%= player.years_played %><br><br>
<b>Team ID:</b> <%= player.hockey_team_id %><br><br>
<b>Created:</b> <%= player.created_at %><br><br>
<b>Updated:</b> <%= player.updated_at %></h6><hr>
<% end %>