<h1><%= @hockey_team.name %></h1>

<ul>
  <li><b>City:</b> <%= @hockey_team.city%></li>
  <li><b>Rank:</b> <%= @hockey_team.rank%></li>
  <li><b>Original Team in Franchise?:</b> <%= @hockey_team.original_franchise%></li>
  <li><b>Stanley Cups:</b> <%= @hockey_team.stanley_cups%></li>
</ul>