<h1>Schools Info</h1>
<li>Student Count - <%=@school.students.count%></li><br>
<a href="/schools/<%= @school.id %>/edit"> Update School</a><br>
<p><%= link_to "Delete School", "/schools/#{@school.id}", method: :delete %></p>
<a href="/schools/<%= @school.id %>/students"> All Students</a><br><br>
<a href="/schools/<%= @school.id %>/students/new"> Create Student</a><br><br>

<li>Name - <%=@school.name%></li><br>
<li>Days in School Year - <%=@school.days_in_school_year%></li><br>
<li>Accepts Financial Aid - <%=@school.accepts_financial_aid%></li><br>
