<h1>All Students</h1>

<%@students.each do |student|%>
  <li>Name - <%=student.name%></li><br>
  <li>Student ID - <%=student.id%></li><br>
  <li>Needs Financial Aid? - <%=student.needs_financial_aid%></li><br>
  <li>School ID - <%=student.school_id%></li><br>
  <li>School Days Competed - <%=student.school_days_completed%></li><br>
  <li>Created On - <%=student.created_at%></li><br>
  <li>Updated On - <%=student.updated_at%></li><br>
<%end%>
